*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: black;
    color: white;
}

p{
    font-size: 3rem;
}

.js {
    color: yellow;
}

.g-t{
    color: rgb(0, 255, 0);
}

.cursor{
    background: rgb(0, 255, 0);
}