*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #eff6e0;
}

.container{
    background-color: #124559;
    margin-bottom: 50px;
}

/* first menu */

.one ul{
    min-height: 65px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one li a{
    text-decoration: none;
    color: #eff6e0;
    padding: 0 40px;
    position: relative;
}

.one a::before{
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: #eff6e0;
    transform: scale(0);
    transition: all 1s;
    transform-origin: left;
}

.one a:hover::before{
    transform: scaleX(1);
}

.one a::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: #eff6e0;
    transform: scale(0);
    transition: all 1s;
    transform-origin: right;
}

.one a:hover::after{
    transform: scaleX(1);
}

/* second menu */

.container.two{
    background: #eff6e0;
}

.two ul{
    min-height: 95px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two li a{
    text-decoration: none;
    color: #003c53;
    padding: 15px 30px;
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
    z-index: 1000;
}

.two li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #ffbb5c; */
    opacity: 0;
    transform: scaleY(2);
    transition: 1s;
    border-top: 2px solid #245184;
    border-bottom: 2px solid #245184;
}

.two li a:hover::before{
    transform: scaleY(1.2);
    opacity: 1;
}

.two li a::after{
    content: "";
    background: #245184;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(0);
    z-index: -1;
    transition: 1s;
}

.two li a:hover::after{
    transform: scale(1);
}

.two li a:hover{
    color: #eff6e0;
}

/* third menu */

.three ul{
    min-height: 85px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three li a{
    text-decoration: none;
    color: #eff6e0;
    padding: 0 40px;
    position: relative;
}

.three li a::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 15px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.6s;
}

.three li a:hover::before{
    opacity: 1;
    bottom: -13px;
    left: 9px;
}

.three ul{
    min-height: 85px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three li a{
    text-decoration: none;
    color: #eff6e0;
    padding: 0 40px;
    position: relative;
}

.three li a::after{
    content: "";
    position: absolute;
    top: -1px;
    right: 15px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.6s;
}

.three li a:hover::after{
    opacity: 1;
    top: -13px;
    right: 9px;
}